<header class="header">
    <div class="container">
         <div class="row">
              <div class="col-lg-2">
                   <div class="header__logo">
                        <a href="index.html"><img src="assets/img/logo.png" alt="" data-pagespeed-url-hash="2174608914"
                                  onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                   </div>
              </div>
              <div class="col-lg-10">
                   <div class="header__options">
                        <nav class="header__menu mobile-menu">
                             <ul>
                                  <li class="active"><a href="index.html">Home</a></li>
                                  <li><a href="about.html">About</a></li>
                                  <li><a href="services.html">Services</a></li>
                                  <li><a href="product.html">Shop</a></li>
                                  <li><a href="index.html#">Pages</a>
                                       <ul class="dropdown">
                                            <li><a href="works.html">works</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">wishlist</a></li>
                                            <li><a href="product-details.html">Product Details</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                       </ul>
                                  </li>
                                  <li><a href="blog.html">Blog</a></li>
                                  <li><a href="contact.html">Contact</a></li>
                             </ul>
                        </nav>
                        <div class="header__option__right">
                             <div class="search__option search-switch">
                                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAASFBMVEUAAAAgAAAgAAAgAAAgAAQgAAMgAAMgAAIgAAIgAgQgAgQgAgQgAgQgAgMgAQMgAQQgAQQgAQQgAQQgAQMgAQMgAQMgAQMgAgSf2QlZAAAAF3RSTlMAECAwQFBgb3B/gI+QoLC/wM/Q3+Dv8E1FZl0AAAC1SURBVCjPtZHLEoQgDAQDIuviA1S0//9P96Ciocrj5jSpzmMqEREREddHWOPHShVN5IztaxTxwOSdcyHDbDVJV+531ruvgfExeyeWJJHUXvCndKBtDcxFTdquLbWp9F+x0B0CXIUS4Q0NF8rvXUWU2GkP0bFq0oIpXn01rxwnsDXKxH0CszzZwHO3zdAflW0ENcQkYI593ICw6wU+n18erTQVE9uFEFpzvkwzUe/8B1vljeXlB7ElDOOoXfsaAAAAAElFTkSuQmCC"
                                       alt="" data-pagespeed-url-hash="3043068393"
                                       onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                             </div>
                             <a href="index.html#" class="primary-btn">Get a Quote</a>
                        </div>
                   </div>
              </div>
         </div>
         <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
